<h1>Service catalogue</h1>
<div class="row">
  <div class="col-xs-12 gutter">
    <div class="service-catalogue content-box">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Swagger-URL</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let service of services">
          <td>{{service.name}}</td>
          <td>{{service.description}}</td>
          <td>{{service.hashToSwaggerFile}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
